* {
  box-sizing: border-box;
}

body {
  background: #3B455A;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  outline: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 44px;
}
