@import "./search-widget.scss";
@import "./profile-widget.scss";

.header {
  padding: 18px 0;
  background: #434F6C;
  color: #A6ACBA;
  line-height: 40px;
  font-size: 12px;
  font-weight: 100;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  flex: 1;
  font-size: 18px;

  strong {
    color: #E3E8EA;
  }

  a {
    color: #A6ACBA;
    text-decoration: none;
  }
}

.header__search-widget {
  flex: 1;
  text-align: center;
}

.header__profile-widget {
  flex: 1;
  text-align: right;
}

@media all and (max-width: 800px) {
  .header__wrapper {
    flex-flow: column wrap;
  }

  .header__search-widget {
    margin-bottom: 11px;
  }

  .header__logo, .header__profile-widget {
    text-align: center;
  }
}