.search-widget__button-find {
  padding-left: 33px;
  padding-right: 16px;
  margin: 0 11px 0 0;

  background-image: url("../imgs/find.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 12px center;
}

.search-widget__button-invite {
  margin: 0 0 0 7px;
}