@import "./hover.scss";
@import "./info.scss";
@import "./meta.scss";

.cards {
  margin: 33px auto;
}

.cards__counter {
  text-align: center;
  color: #E3E8EA;
  font-size: 20px;
  font-weight: 100;
}

.cards__counter-value {
  font-weight: 400;
}

.cards__items-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  left: -22px;
  max-width: 930px;
  margin: -11px auto 0 auto;
}

.cards__item-wrapper {
  position: relative;
  width: 278px;
  margin: 32px 0 0 32px;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}