.user__content {
  max-width: 800px;
  margin: 33px auto;
  padding: 22px;
  background: #FFF;
  color: #324666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #666;
}

.user__card {
  float: left;
}

.user__photo {
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 140px;
  background: #E8EEF7;
}

.user__info {
  position: relative;
  display: inline-block;
  padding: 11px 33px;
}

.user__online {
  position: static;
  display: inline;
  top: 0;
  left: 0;
  width: 30px;
  text-align: left;
  color: #07BB6F;
}

.user__card button {
  display: block;
  margin: 11px auto;
}

.user__username {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
  color: #324666;
}

.user__spec {
  font-size: 12px;
  color: #B7C1CD;
}

.user__meta {
  margin-top: 5px;
  font-size: 12px;
  color: #697493;
}

.user_description {
  font-size: 14px;
  line-height: 22px;
  padding-left: 173px;
}